<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Search by <%= by %></title>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>
  <%- include('sidebar') %>
  <div style="margin-right:15%">
    <div class="w3-container w3-teal">
      <h1>Search by <%= by %></h1>
    </div></br>
    <div class="w3-container">
      <form action="/search/<%= by.replace(/\s/g, "") %>" method="POST">
        <% if (locals.by == "price") { %>
        <label for="min">Minimum: </label>
        <input type="text" name="min" id="min" required>
        <label for="max">Maximum: </label>
        <input type="text" name="max" id="max" required>
        <% } else if (locals.by == "publish date") { %>
        <label for="min">From: </label>
        <input type="date" name="min" id="min" required>
        <label for="max">To: </label>
        <input type="date" name="max" id="max" required>
        <% } else { %>
        <label for="<%= by %>"><%= by.toUpperCase() %>: </label>
        <input type="text" name="<%= by %>" id="<%= by %>" required>
        <% } %>
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</body>
</html>